.container {
	display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#form {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 20px;
    background: gray;
    border-radius: 20px;
    width: 30%;
}

#p1, #p2 {
	padding: 10px;
	border: 2px solid red;
	width: 50px;

}